@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body{
	margin: 0;
	padding: 0;
	font-size: 0;
	overflow: hidden;
}

.directory-listing{
	padding: 0;
}

.sidebar{
	background: #394248;
	display: inline-block;
	position: relative;
	height: 100vh;
	width: 25vw;
	overflow-y: hidden;
}

.sidebar>.wrapper{
	overflow-y: scroll;
	height: 100%;
}

.logger{
	width: 75vw;
	height: 100vh;
	background: #31383E;
	vertical-align:top;
	display: inline-block;
	overflow-y: hidden;
}

ul.directory-listing>li>a{
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	font-size: 1rem;
	color: #717678;
	display: block;
	padding: 0.6rem 0.6rem 0.6rem 1.3rem;
}

.explorer{
	color: white;
	font-family: 'Quicksand', sans-serif;
	padding-left: 1rem;
	font-size: 1.2rem;
}


ul.directory-listing>li{
	list-style: none;
}

ul.directory-listing>li>a:hover{
	background: rgba(91,156,175,0.3);
	cursor: pointer;
	border-left: 3px solid #5B9CAF;
	color: #5899AF;
}

.search{
	position: relative;
}

.search>input{
	width: 100%;
	height: 1.5rem;
	background: #424E56;
	margin: 0;
	padding: 0.7rem 0;
	border: none;
	text-align: center;
	font-size: 1.2rem;
	color: white;
	outline: none;
}

.search>input::placeholder {
	color: #A2A3A3;
	font-family: arial;
}

.search>.fa-times-circle-o{
	color: #A2A3A3;
	position: absolute;
	font-size: 1.2rem;
	right: 10px;
	top: 12px;
}

.search>.fa-times-circle-o:hover{
	cursor: pointer;
}

.search > .fa-search{
	color: #A2A3A3;
	position: absolute;
	font-size: 1.2rem;
	left: 10px;
	top: 12px;
}

.filter{
	background-color: #5FA5B7;	
    height: 2.9rem;
    display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.filter-wrapper{
	position: absolute;
	right: 2rem;
}

.filter-wrapper>input{
	border: none;
	outline: none;
	font-size: 1rem;
	color: white;
	background-color: transparent;
	font-family: 'Cutive Mono', monospace;
}

.filter-wrapper>input::placeholder{
	font-family: 'Cutive Mono', monospace;
	font-size: 1.1rem;
	color: #CDE4E9;
}

.filter-wrapper > .fa-filter{
	font-size: 1.3rem;
	color: #CDE4E9;
	margin-right: 0.5rem;
}


.logger > ul{
	overflow-y: scroll;
	height: 100%;
	color: white;
	height: 100%;
	font-size: 0.9rem;
	font-family: 'Cutive Mono', monospace;
}

.logger > ul>li{
	list-style: none;
	line-height: 1.5rem;
}

.grep-btn{
	font-size: 1.1rem;
	height: 1.3rem;
	width: 1.6rem;
	font-family: 'Cutive Mono', monospace;
	background-color: #DE806C;
	color: white;
	border-radius: 4px;
	padding: 0.3rem 0.8rem;
	line-height: 1.3rem;
}

.grep-btn:hover{
	cursor: pointer;
	background-color: #e7a496;
}
